<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Data Generator</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        button {
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <button type="button" onclick="generateData()">Generate</button>
    <button type="button" onclick="clearData()">Clear</button>

    <script>
        const generateData = async () => {
            const response = await fetch('/generate', { method: 'POST' });
        };

        const clearData = async () => {
            const response = await fetch('/clear', { method: 'DELETE' });

        };
    </script>
</body>

</html>